[submodule "src/imtjson"]
	path = src/imtjson
	url = git@github.com:/ondra-novak/imtjson.git
[submodule "src/couchit"]
	path = src/couchit
	url = git@github.com:/ondra-novak/couchit.git
[submodule "src/couchcpp"]
	path = src/couchcpp
	url = git@github.com:/ondra-novak/couchcpp.git
